
.AddUserContainer{
  position: relative;
  flex-direction: column;
  padding: 72px;
  border: 1px solid #e5e5e5;
  max-width: 472px;
  width: 100%;
  margin-top: 10rem;
  border-radius: 26px;
  background: #FFF8F5;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.30);
}

#Bayi_Bilgileri{
  margin-bottom: 0.5rem;
}

#KullanıcıEkleContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Optional: Center the text horizontally */
}

#admin{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Optional: Center the text horizontally */
}

#row1{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.8rem;
}

#cariUnvanContainer{
  margin-right: 1.5rem;
}

#row2{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.8rem;

}

#KullanıcıAdıContainer{
  margin-right: 1.5rem;
}

.inputPassword{
   width: 100%;
}

.mailAdresi{
  width: 100%;
  margin-bottom: 0.8rem;

}